USE [Logistica]
GO
/****** Objeto: Table [dbo].[Almacenes_Raw] Fecha de script: 21/05/2026 17:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Almacenes_Raw](
	[id_almacen] [tinyint] NULL,
	[ubicacion] [nvarchar](50) NULL,
	[capacidad] [smallint] NULL
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Logistica_Raw] Fecha de script: 21/05/2026 17:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logistica_Raw](
	[id_pedido] [tinyint] NULL,
	[id_almacen] [tinyint] NULL,
	[fecha_entrega_real] [date] NULL,
	[estado_envio] [nvarchar](50) NULL,
	[costo_envio] [smallint] NULL
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Pedidos_Raw] Fecha de script: 21/05/2026 17:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedidos_Raw](
	[id_pedido] [tinyint] NULL,
	[id_producto] [smallint] NULL,
	[id_cliente] [nvarchar](50) NULL,
	[fecha_pedido] [date] NULL,
	[cantidad] [tinyint] NULL
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Productos_Raw] Fecha de script: 21/05/2026 17:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos_Raw](
	[id_producto] [tinyint] NULL,
	[nombre_producto] [nvarchar](50) NULL,
	[categoria] [nvarchar](50) NULL,
	[precio_base] [money] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Almacenes_Raw] ([id_almacen], [ubicacion], [capacidad]) VALUES (1, N'Lima', 12000)
INSERT [dbo].[Almacenes_Raw] ([id_almacen], [ubicacion], [capacidad]) VALUES (2, N'Arequipa', 8500)
INSERT [dbo].[Almacenes_Raw] ([id_almacen], [ubicacion], [capacidad]) VALUES (3, N'Trujillo', 7000)
GO
INSERT [dbo].[Logistica_Raw] ([id_pedido], [id_almacen], [fecha_entrega_real], [estado_envio], [costo_envio]) VALUES (1, 5, NULL, N'En tránsito', 22)
INSERT [dbo].[Logistica_Raw] ([id_pedido], [id_almacen], [fecha_entrega_real], [estado_envio], [costo_envio]) VALUES (2, 1, CAST(N'2025-01-22' AS Date), N'En tránsito', 12)
INSERT [dbo].[Logistica_Raw] ([id_pedido], [id_almacen], [fecha_entrega_real], [estado_envio], [costo_envio]) VALUES (3, 1, CAST(N'2025-02-04' AS Date), N'Retrasado', 18)
GO
INSERT [dbo].[Pedidos_Raw] ([id_pedido], [id_producto], [id_cliente], [fecha_pedido], [cantidad]) VALUES (1, 4, N'C0002', CAST(N'2025-01-05' AS Date), 3)
INSERT [dbo].[Pedidos_Raw] ([id_pedido], [id_producto], [id_cliente], [fecha_pedido], [cantidad]) VALUES (2, 8, N'C0015', CAST(N'2025-01-14' AS Date), 2)
INSERT [dbo].[Pedidos_Raw] ([id_pedido], [id_producto], [id_cliente], [fecha_pedido], [cantidad]) VALUES (3, 4, N'C0035', CAST(N'2025-01-23' AS Date), 1)
GO
INSERT [dbo].[Productos_Raw] ([id_producto], [nombre_producto], [categoria], [precio_base]) VALUES (1, N'Laptop Pro 14', N'Electrónica', 1200.0000)
INSERT [dbo].[Productos_Raw] ([id_producto], [nombre_producto], [categoria], [precio_base]) VALUES (2, N'Mouse Inalámbrico', N'Elec', 35.0000)
INSERT [dbo].[Productos_Raw] ([id_producto], [nombre_producto], [categoria], [precio_base]) VALUES (3, N'Teclado Mecánico', N'electtronica', 89.0000)
GO
